// header----------------------
.beside {
    width: 20vw;
    flex-shrink: 2;
}
.header {
    .up-header {
        height: 3.5rem;
        width: 100vw;
        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .divider {
            width: 0.2rem;
            height: 3rem;
            background-color: black;
        }
        img {
            max-width: 6rem;
        }
    }
    .mid-header {
        height: 3.5rem;
        width: 100vw;
        i{
            cursor: pointer;
        }
        img{
            width: 20rem;
            height: 3rem;
        }
        .container {
            height: 3.5rem;
        }
        .search-header {
            input {
                border-radius: 5pt;
                border: 0;
                direction: rtl;
                width: 15rem;
                outline: none;
            }
            i{
                position: absolute;
                left: 4px;
                top: 2px;
            }
        }
        a{
            font-size: 1.3rem;
            outline: none;
            border: none;
        }
        .header-button{
            background-color: transparent;
            border-radius: 0.4rem;
            border: 0.15rem solid red;
            height: 2rem;
            color: red;
            width: 8rem;
        }
    }
    .search-mobile{
        width: 100vw;
        height: 100vw;
        top: 0px;
        left: -550px;
        transition: all 0.5s;
        >div{
            height: 8vh;
            background-color: antiquewhite;
            >span{
                font-size: 2rem;
                margin-left: auto;
                margin-right: auto;
            }
            >i{
                font-size: 2rem;
            }
        }
        .search-header {
            input {
                border-radius: 5pt;
                border: 1;
                direction: rtl;
                width: 100vw;
                outline: none;
                height: 4vh;
            }
            i{
                position: absolute;
                left: 4px;
                top: 2px;
            }
        }
    }
    .dropdown-header{
        width: 100vw;
        height: 2rem;
    }
}
