@media only screen and (max-width: 992px) {
    .header{
        .up-header{
            span{
                font-size: 1.2rem;
            }
            img{
                max-width: 4.5rem;
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .header{
        .mid-header{
            img{
                width: 8rem !important;
            }
            i{
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .header{
        .mid-header{
            img{
                width: 5rem !important;
            }
        }
    }
}
