ul,li,a{
    list-style: none !important;
    
}
a {
    text-decoration: none !important;

}
*{
    font-family: mitra;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
@import "var.scss";
@import "font.scss";
@import "renew.scss";
@import "resp.scss";
@import "animation.scss";