$header-color:rgba(23,29,37,255);
$dropdown:rgba(61,68,80,255);
$ulHeaderNavbar:rgb(224, 224, 224);
$ulHeaderNavbarShine:rgb(255, 255, 255);
$ulLiHeaderNavbar:rgba(61,68,80);
$dropdownHeaderNavbar: linear-gradient(180deg, rgba(87,88,96,1) 0%, rgba(45,46,54,1) 100%);
$lightWhiteHeaderNavbar: rgb(219, 212, 212);
$topbarlblue:rgb(59,162,214);
$offBackground: #4C6B22;
$offTextColor:#BEEE11;





